<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование личных данных</title>
    <h1>Форма редактирования личных данных</h1>
    <h2>Введите новые данные</h2>
</head>
<body>
<div>
    <form th:method="patch" th:action="@{/authentification/person}" th:object="\${person}">
        <label for="name">имя:</label><br>
        <input type="text" id="name" name="login" th:field="*{name}"><br>
        <div style="color: red" th:if="\${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
        <label for="lastName">фамилия:</label><br>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}"><br>
        <div style="color: red" th:if="\${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
        <label for="gender">пол:</label><br>
        <select name="gender" id="gender">
            <option th:each="genderOpt : \${T(ru.example.onlineshopnew.model.person.Gender).values()}"
                    th:value="\${genderOpt}" th:field="*{gender}" th:text="\${genderOpt.name}"></option>
        </select>
        <br>
        <label for="age">возраст:</label><br>
        <input type="text" id="age" name="age" th:field="*{age}"><br>
        <div style="color: red" th:if="\${#fields.hasErrors('age')}" th:errors="*{login}">age Error</div>
        <label for="phoneNumber">номер телефона:</label><br>
        <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"><br>
        <div style="color: red" th:if="\${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber Error</div>
        <label for="email">email:</label><br>
        <input type="text" id="email" name="email" th:field="*{email}"><br>
        <div style="color: red" th:if="\${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
        <br>
        <br>
        <input type="submit" value="Обновить">
        <br>
        <br>
        <div th:insert="fragmentTemplate::returnToAccount"></div>
        <div th:insert="fragmentTemplate::returnToHomePage"></div>
        <div th:insert="fragmentTemplate::back"></div>
    </form>
</div>
</body>
</html>