<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страница администратора</title>
  <h1>Страница администратора</h1>
</head>
<body>
<h3>Меню пользователя</h3>
<a href="/authentification/employee/accounts">База данных аккаунтов пользователей</a><br>
<a href="/authentification/employee/products">База данных товаров</a><br>
<br>
<div th:insert="fragmentTemplate::returnToHomePage"></div>
<div th:insert="fragmentTemplate::back"></div>
<br>
<div th:insert="fragmentTemplate::logout"></div>
</body>
</html>