<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных аккаунта</title>
    <h1>Форма редактирования данных</h1>
    <h2>Введите новые данные</h2>
</head>
<body>
<div>
    <form th:method="patch" th:action="@{/accounts/{id}(id=\${account.getId()})}" th:object="\${account}">
        <label for="login">Логин:</label><br/>
        <input type="text" id="login" name="login" th:field="*{login}"/><br/>
        <div style="color: red" th:if="\${#fields.hasErrors('login')}" th:errors="*{login}">Name Error</div>
        <label for="password">Пароль:</label><br/>
        <input type="text" id="password" name="password" th:field="*{password}"/><br/>
        <div style="color: red" th:if="\${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
        <label for="statusAccount">Статус Аккаунта:</label><br/>
        <select name="statusAccount" id="statusAccount">
            <option th:each="statusAcc : \${T(ru.example.onlineshopnew.model.account.StatusAccount).values()}"
                    th:value="\${statusAcc}" th:field="*{statusAccount}" th:text="\${statusAcc.name}"></option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Обновить">
        <br/>
        <br/>
        <div class="col-sm-12 d-flex justify-content-center">
            <button type="button" class="btn btn-default" th:onclick="history.go(-1)">Назад</button>
        </div>
    </form>
</div>
</body>
</html>